/***********************************************************************
* XSoftArt.AdminEngine v2.8 styles
/***********************************************************************/
/*****************************************************
Print style
******************************************************/

@media screen
{
    *.noview
    {
        display: none;
    }

    *.Height100
    {
        height: 100%;
    }
}

.printBar
{
    background-color: #E5E5E5;
    height: 40px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-align: right;
    padding: 4px;
}

.printBarBottom
{
    background-color: #E5E5E5;
    height: 20px;
}



.printBar a:link, .printBar a:visited
{
    color: #000000;
    text-decoration: none;
}
.printBar a:hover
{
    color: #000000;
    text-decoration: underline;
}

/*****************************************************
General style
*****************************************************/

Body
{
    font-family: Tahoma, Verdana, Arial; /*background-image:url(../images/logo.gif);*/
    background-repeat: no-repeat;
}


.ButtonStyleDisable
{
    background-image: url(../images/Button/button-disable.gif);
}

.ButtonStyle
{
    background-image: url(../images/Button/button.gif);
}
.ButtonStyle:hover
{
    background-image: url(../images/Button/button-over.gif);
}

.ButtonStyleOver
{
    background-image: url(../images/Button/button-over.gif);
}

.ButtonStyleDisable1
{
	background-image: url(../images/Button/button-disable.gif);	
}

.ButtonStyle1
{
	background-image: url(../images/Button/button.gif);
}

.ButtonStyleOver1
{
	background-image: url(../images/Button/button-over.gif);	
}

.ButtonStyleDisable2
{
    background-image: url(../images/Button/button-disable2.gif);
}

.ButtonStyle2
{
    background-image: url(../images/Button/button2.gif);
}

.ButtonStyleOver2
{
    background-image: url(../images/Button/button-over2.gif);
}

.ButtonStyle2, .ButtonStyleOver2, .ButtonStyleDisable2
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    cursor: pointer;
    cursor: hand;
    padding-top: 0px;
    width: 190px;
    height: 22px;
    color: #777F8A;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 2px;
}

.ButtonStyle, .ButtonStyleOver, .ButtonStyleDisable
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    cursor: pointer;
    cursor: hand;
    padding-top: 0px;
    width: 87px;
    height: 22px;
    color: #777F8A;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 2px;
}

.ButtonFileStyle
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 3px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    width: 450px;
    height: 22px;
    vertical-align: middle;
}

.ButtonStyle1,
.ButtonStyleOver1,
.ButtonStyleDisable1
{
	font-family: Verdana, Tahoma, Arial;
	font-size:10px;
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BORDER-LEFT-WIDTH: 0px;	
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 2px;
	BORDER-RIGHT-WIDTH: 0px;
	CURSOR: pointer;
	CURSOR: hand;
	PADDING-TOP: 0px;
	WIDTH: 100px;
	HEIGHT: 24px; 	
	
	Color:#777F8A;		
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-size: 100%;
}

.validationWarningSmall, .validateError
{
    color: Red;
    font-size: 11px; /*font-weight: bold;*/
}

.errorSelection
{
    color: Red;
    font-weight: bold;
}

.InputLabel
{
    color: #003366;
}



Table
{
    font-size: 11px;
    color: #003366;
}


INPUT, SELECT, TEXTAREA, .requirement
{
    font-family: Tahoma, Arial, Verdana;
    font-size: 11px;
    color: #003366;
}

.requirement
{
    border: solid 1px #74BAF3;
    background-color: #FEFDEE;
}

.inputBorder
{
    font-family: Tahoma, Arial, Verdana;
    font-size: 11px;
    color: #003366;
    border: solid 1px #74BAF3;
}

.inputBorderDisable
{
    font-family: Tahoma, Arial, Verdana;
    font-size: 11px;
    color: #003366;
    border: solid 1px Gray;
}

INPUT.Formula
{
    background-image: url(../images/Utility/inputLight.gif);
    color: Black;
}

.hintable
{
    background-color: #FFFF52;
    border-bottom-color: #FFCF00;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    padding-bottom: -1px;
    color: green;
    cursor: help;
    padding-left: 2px;
    padding-right: 2px;
}
.helper
{
    font-size: 11px;
    background-color: #FEFDEE;
}

.hiddenText
{
    visibility: hidden;
}

.visibilityText
{
    visibility: visible;
}

.noneText
{
    display: none;
}

.displayText
{
    display: block;
}

.TextBoxDisabled
{
    background-color: Transparent;
}

.headerText
{
    overflow: hidden;
    color: #777F8A;
    font-weight: bold;
}

/***************************************************************
* Cursor style
****************************************************************/

.CursorHand
{
    cursor: hand;
    cursor: pointer;
}

/***************************************************************
* UserProfileInfo style
****************************************************************/

TD.UserProfileInfo
{
    font-weight: bold;
}

TD.UserProfileInfo A:link, TD.UserProfileInfo A:visited
{
    color: #003366;
    font-weight: bold;
    text-decoration: underline;
}

TD.UserProfileInfo A:hover
{
    color: #003366;
    font-weight: bold;
    text-decoration: none;
}


/***************************************************************
* Table cell style
****************************************************************/

.TableStyleCell1
{
    background-color: #C4E3FC;
}

.TableStyleCell2
{
    background-color: #A1D1F1;
}

.TableStyleCell3
{
    background-color: #85C4EE;
}

.TableStyleCell4
{
    font-weight: bold;
    background-color: #74BEEF;
}
.TableStyleCell5
{
    color: #cc0000;
    font-weight: normal;
}

.TableStyleCellNone
{
}


/*****************************************************
DataGrid style
*****************************************************/
Table.TableBorder
{
    background-color: #74BAF3;
}


Table.TableStyle
{
    font-size: 11px;
    background-color: #FFFFFF;
}

Table.CursorStyle TD
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #f1f9ff;
}

.SelectedItemStyle
{
    font-weight: bold;
    font-size: 11px;
    color: #4A3C8C;
    background-color: #FFEEC2;
}



.EditItemStyle
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #FFEEC2;
}

.AlternatingItemStyle
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #dceffe;
}



.ItemStyle
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #f1f9ff;
}

A.ItemLink:link
{
    font-size: 11px;
    color: Blue;
    text-decoration: underline;
}

A.ItemLink:visited
{
    font-size: 11px; /*color:Gray;*/
    color: Blue;
    text-decoration: underline;
}

A.ItemLink:hover
{
    font-size: 11px;
    color: Blue;
    text-decoration: none;
}

A.ItemLink2:link
{
    font-size: 11px;
    color: #0066CC;
    text-decoration: underline;
}

A.ItemLink2:visited
{
    font-size: 11px; /*color:Gray;*/
    color: #0066CC;
    text-decoration: underline;
}

A.ItemLink2:hover
{
    font-size: 11px;
    color: #0066CC;
    text-decoration: none;
}


.FooterStyle
{
    font-weight: bold;
    font-size: 11px;
    color: #4A3C8C;
    background-color: #B5C7DE;
    background-color: #dceffe;
    background-image: url(../images/Utility/TableHeaderBackground.gif);
}

.FooterStyleNew
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #ffeec2;
}

TR.PagerStyle A:hover, TR.PagerStyle A:link, TR.PagerStyle A:visited
{
    font-size: 11px;
    color: Blue;
    text-decoration: underline;
}

TR.PagerStyle span
{
    font-size: 11px;
    color: #003366;
}

TR.PagerStyle, TR.LoginHeaderStyle
{
    height: 27px;
    background-color: #dceffe;
    background-image: url(../images/Utility/TableHeaderSmallBackground.gif);
    font-size: 12px;
    color: #0066cc;
    font-weight: bold;
}



tr.HeaderStyle, tr.LoginTableHeaderStyle
{
    height: 27px;
    background-color: #dceffe;
    background-image: url(../images/Utility/TableHeaderBackground.gif);
    font-size: 11px;
    color: #0066cc;
    font-weight: bold;
}



TR.HeaderStyle TD
{
    white-space: nowrap;
}

TR.HeaderStyle A:hover, TR.HeaderStyle A:link, TR.HeaderStyle A:visited
{
    font-size: 11px;
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

Table.TableStyleSearch TD, Table.TableStyleAdd, Table.TableStyleUpdate TD, Table.TableStyleTreeView TD, TD.TDStyleTreeView, TD.TDStyleUpdate, TD.TDStyleAdd, TD.TDStyleLogin
{
    background-color: #f1f9ff;
}
#ctl03_add_Description_EdtCell
{
    height:600px;
}



TR.TableStyleUpdateHeaderAlternate TD, TR.TableStyleTreeViewHeaderAlternate TD
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #dceffe;
    font-weight: bold;
}

TR.TableStyleSearchHeader TD, TR.TableStyleMessageHeader TD, TR.TableStyleAddHeader TD, TR.TableStyleUpdateHeader TD, TR.TableStyleTreeViewHeader TD
{
    background-image: url(../images/Utility/TableHeaderSmallBackground.gif);
    font-size: 12px;
    color: #0066cc;
    font-weight: bold;
    height: 27px;
}

Table.TableStyleTitle TD
{
    font-family: Verdana, Tahoma, Arial;
    color: #003366;
    font-size: 11px;
    font-weight: bold;
}

Table.TableStyleTitle
{
    background-color: #F1F9FF;
}



Table.TableStyleSearch, Table.TableStyleUpdate, Table.TableStyleMessage
{
    background-color: #f1f9ff; /*background-color: #FFFFFF;*/
}





/*****************************************************
TreeView style
*****************************************************/

.TreeViewStyle SPAN
{
    height: 25px;
    vertical-align: middle;
}


/*****************************************************
Login table style
*****************************************************/

TR.LoginHeaderTitleStyle
{
    height: 22px;
    background-image: url(../images/Utility/title.gif);
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
}



Table.LoginTableStyle A:link, Table.LoginTableStyle A:visited
{
    font-size: 12px;
    color: #0066cc;
    font-weight: bold;
    text-decoration: underline;
}

Table.LoginTableStyle A:hover
{
    font-size: 12px;
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

Table.LoginTableStyle
{
    font-size: 11px;
    background-color: #FFFFFF;
}



/*****************************************************
Event style
*****************************************************/

.Error, FailureAudit
{
    font-size: 9px;
    color: Red;
}

.Information, SuccessAudit
{
    font-size: 9px;
    color: #003366;
}

.Warning
{
    font-size: 9px;
    color: Blue;
}


/*****************************************************
General Text
*****************************************************/
.normalTextSmall
{
    font-size: 10px;
}

.normalTextSmallBold
{
    font-size: 10px;
    font-weight: bold;
}

.normalTextSmaller
{
    font-weight: normal;
    font-size: 9px;
}

.normalTextLargeBold
{
    font-size: 11px;
    font-weight: bold;
}

.normalTextSmall, .normalTextSmallBold, .normalTextSmaller, normalTextLargeBold
{
    color: #4A3C8C;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

/*****************************************************
Page Messate style
*****************************************************/
.Message
{
    font-size: 9px;
    color: Red;
}
.MessageNo
{
    font-size: 9px;
    color: #003366;
}

/*****************************************************
TextBox style
*****************************************************/
.loginTextBox
{
    font-size: 11px;
    width: 120px;
    border: solid 1px #74BAF3;
}

/*****************************************************
Language style
*****************************************************/
.ButtonLanguageStyle
{
    background: url(../Images/Button/ButtonLangBackground.gif);
    background-color: #E3E3E3;
    font-weight: bold;
    color: #0066cc;
}

.ButtonLanguageStyleOver
{
    background: url(../Images/Button/ButtonLangBackground-over.gif);
    background-color: #E3E3E3;
    font-weight: bold;
    color: #4A3C8C;
}

.ButtonLanguageStyle, .ButtonLanguageStyleOver
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    cursor: pointer;
    cursor: hand;
    padding-top: 0px;
    width: 32px;
    height: 19px;
}

/*****************************************************
Cursor Left, LeftAll, Right, RightAll style
*****************************************************/
.CursorLeft
{
    background: url(../Images/Button/Left.gif);
}

.CursorLeftDisable
{
    background: url(../Images/Button/Left-disable.gif);
}


.CursorLeftOver
{
    background: url(../Images/Button/Left-over.gif);
}

.CursorLeftAll
{
    background: url(../Images/Button/LeftAll.gif);
}

.CursorLeftAllOver
{
    background: url(../Images/Button/LeftAll-over.gif);
}

.CursorLeftAllDisable
{
    background: url(../Images/Button/LeftAll-disable.gif);
}

.CursorRight
{
    background: url(../Images/Button/Right.gif);
}

.CursorRightDisable
{
    background: url(../Images/Button/Right-disable.gif);
}

.CursorRightOver
{
    background: url(../Images/Button/Right-over.gif);
}

.CursorRightAll
{
    background: url(../Images/Button/RightAll.gif);
}

.CursorRightAllDisable
{
    background: url(../Images/Button/RightAll-disable.gif);
}

.CursorRightAllOver
{
    background: url(../Images/Button/RightAll-over.gif);
}

.CursorLeft, .CursorLeftDisable, .CursorLeftOver, .CursorLeftAll, .CursorLeftAllDisable, .CursorLeftAllOver, .CursorRight, .CursorRightDisable, .CursorRightOver, .CursorRightAll, .CursorRightAllDisable, .CursorRightAllOver
{
    background-color: #E3E3E3;
    font-weight: bold;
    color: #0066cc;
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    cursor: pointer;
    cursor: hand;
    padding-top: 0px;
    width: 32px;
    height: 22px;
}

/*****************************************************
Button style
******************************************************/

.ButtonInsertImages
{
    background: url(../Images/Button/InsertImages.gif); /*background-color: #E3E3E3;*/
}

.ButtonInsertImagesOver
{
    background: url(../Images/Button/InsertImages-Over.gif); /*background-color: #E3E3E3;*/
}


.ButtonPreview
{
    background: url(../Images/Button/Preview.gif); /*background-color: #E3E3E3;*/
}


.ButtonPreviewOver
{
    background: url(../Images/Button/Preview-Over.gif); /*background-color: #E3E3E3;*/
}

.ButtonDelete
{
    background: url(../Images/Button/Delete-Over.gif);
    background-color: #E3E3E3;
}


.ButtonDeleteOver
{
    background: url(../Images/Button/Delete-Over.gif);
    background-color: #E3E3E3;
}


.ButtonInsertImages, .ButtonInsertImagesOver, .ButtonPreview, .ButtonPreviewOver, .ButtonDelete, .ButtonDeleteOver
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    cursor: pointer;
    cursor: hand;
    padding-top: 0px;
    width: 20px;
    height: 20px;
}

/*****************************************************
Gallery importer style
*****************************************************/

.CursorUp
{
    background: url(../Images/Button/CUp.gif);
}

.CursorUpDisable
{
    background: url(../Images/Button/CUp-disable.gif);
}

.CursorUpOver
{
    background: url(../Images/Button/CUp-over.gif);
}

.CursorDown
{
    background: url(../Images/Button/CDown.gif);
}

.CursorDownDisable
{
    background: url(../Images/Button/CDown-disable.gif);
}

.CursorDownOver
{
    background: url(../Images/Button/CDown-over.gif);
}


.CursorUp, .CursorUpDisable, .CursorUpOver, .CursorDown, .CursorDownDisable, .CursorDownOver
{
    background-color: #E3E3E3;
    font-weight: bold;
    color: #0066cc;
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    border-top-width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    cursor: pointer;
    cursor: hand;
    padding-top: 0px;
    width: 23px;
    height: 22px;
}



/*****************************************************
DeleteCustom style
*****************************************************/


TR.DeleteItemStyle, TR.DeleteEditItemStyle, TR.DeleteAlternatingItemStyle, TR.DeleteItemStyle TD, TR.DeleteEditItemStyle TD, TR.DeleteAlternatingItemStyle TD
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #FFEEC2;
}

/*****************************************************
Delete custom style
*****************************************************/

a.DeleteCustom:link, a.DeleteCustom:visited
{
    font-size: 11px;
    color: #336699;
    font-weight: bold;
    text-decoration: underline;
}

a.DeleteCustom:hover
{
    font-size: 11px;
    color: #336699;
    font-weight: bold;
    text-decoration: none;
}


/*****************************************************
Utilities custom style
*****************************************************/

.SMS_Error
{
    color: Red;
}

.SMS_OK
{
    color: Green;
}

.priceStrikeOut
{
    text-decoration: line-through;
}

.priceChanged
{
    color: Red;
}

/*****************************************************
Solution style
*****************************************************/

a.Solution:link, a.Solution:visited
{
    text-decoration: none;
    color: #666666;
}

a.Solution:hover
{
    text-decoration: none;
    color: Black;
}

.orange
{
    color: #FF6600;
}

A.Solution:hover SPAN
{
    text-decoration: underline;
    color: #FF6600;
}

.NoWrap
{
    white-space: nowrap;
}

.validInputRequired
{
    background-color: #FEFDEE;
    font-size: 11px;
    border: solid 1px #74BAF3;
}

.errorInput
{
    background-color: #ffc0cb;
    font-size: 12px;
    border: solid 1px #ff0000;
}

.errorInputV2
{
    font-size: 12px;
    border: solid 1px #ff0000;
}

.RequiredFieldMark
{
    color: Red;
    font-size: 11px;
}

.validInput
{
    font-size: 11px;
    border: solid 1px #74BAF3;
    z-index: -1;
}


/*****************************************************
MessageRow style
*****************************************************/

.additionalInfo
{
    color: #ff6600;
    font-size: 9px;
}

Table.MessageRowInformation
{
    background-color: #FFEEC2;
    border: solid 1px #003366;
    color: #003366;
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    text-indent: 10px;
}

Table.MessageRowWarning
{
    background-color: #FFEEC2;
    border: solid 1px #003366;
    color: #cc0033;
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    text-indent: 10px;
}

Table.MessageRowError
{
    background-color: MistyRose;
    color: #cc0033;
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    height: 27px;
    text-indent: 10px;
    border: solid 1px #cc0033;
}


.requiredFields
{
    background-color: #D2E9FF;
}

Table.UpdateProgress
{
    background-color: #FF9999;
    border: solid 1px #003366;
    color: #003366;
    font-family: Verdana, Tahoma, Arial;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    text-indent: 10px;
}

.DeleteCustomLabel
{
    font-size: 11px;
    color: #336699;
    font-weight: bold;
    text-decoration: none;
}
/*****************************************************
Submenu
*****************************************************/

.SubMenuSelected, .SubMenu, .SubMenuDisabled
{
    overflow: hidden;
    font-weight: bold;
    height: 20px;
    padding: 3px 5px 2px 5px;
    text-decoration: none;
}

.SubMenu
{
    background-color: #DCEFFE; /*#D9D9E6;*/
    color: #777F8A;
    border-right: solid 1px #74BAF3; /*#808080;*/
    border-left: solid 1px #74BAF3; /*#808080;*/
    border-top: solid 1px #74BAF3; /*#808080;*/
}

.SubMenuDisabled
{
    background-color: #DCEFF6; /*#D9D9E6;*/
    color: #AAAAAA;
    border-right: solid 1px #74BAF3; /*#808080;*/
    border-left: solid 1px #74BAF3; /*#808080;*/
    border-top: solid 1px #74BAF3; /*#808080;*/
}

.SubMenuSelected
{
    background-color: #FFF0C6; /*#F1F9FF;*/
    color: #003366;
    border-right: solid 1px #74BAF3;
    border-left: solid 1px #74BAF3;
    border-top: solid 1px #74BAF3;
}

.DayLeft, .BoldRed
{
    color: Red;
    font-weight: bold;
}

.ListBox_Glass
{
    background-color: white;
    border: Solid 1px #7eacb1;
    font-family: Tahoma;
    font-size: 9pt;
}

.LangZero
{
    color: Red;
}

.selectCart, .selectCartEmpty
{
    border: 1px solid #bfbdbe;
    color: #283e74;
    height: 14px;
    font-size: 10px;
    width: 350px;
    vertical-align: middle;
}

.selectCart
{
    background-color: #f8ff8a;
}

.selectCartEmpty
{
    background-color: #FFFFFF;
}

/*****************************************************
AutocompleteExtender
*****************************************************/
.AutoExtender
{
    font-size: 11px;
    font-weight: normal;
    border: solid 1px #006699;
    line-height: 20px;
    padding: 10px;
    background-color: White;
    z-index: 2000;
    margin-top: 0px;
}
.AutoExtenderList
{
    border-bottom: dotted 1px #006699;
    cursor: hand;
    list-style: none;
    z-index: 2000;
}
.AutoExtenderHighlight
{
    color: White;
    background-color: #006699;
    cursor: pointer;
    list-style: none;
    z-index: 2000;
}
/*****************************************************
AutocompleteExtender END
*****************************************************/
.CDown
{
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(/Admin/Images/button/CDown.gif);
}
.CDown:hover
{
    background-image: url(    '/Admin/Images/button/CDown-over.gif' );
}

.CUp
{
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(/Admin/Images/button/CUp.gif);
}
.CUp:hover
{
    background-image: url(    '/Admin/Images/button/CUp-over.gif' );
}

.SpanProgress
{
    float: left;
    display: block;
    height: 5px;
    vertical-align: bottom;
}

.dlFilterSelected, .dlFilter
{
    overflow: hidden;
    font-weight: bold;
    height: 15px;
    padding: 3px 5px 2px 5px;
    text-decoration: none;
}

.dlFilterSelected
{
    background-color: #FFF0C6; /*#F1F9FF;*/
    color: #003366;
    border-right: solid 1px #74BAF3;
    border-left: solid 1px #74BAF3;
    border-top: solid 1px #74BAF3;
    border-bottom: solid 1px #74BAF3;
}

.dlFilter
{
}

#divwidth
{
    width: auto !important;
}
#divwidth div
{
    width: auto !important;
}

.HeaderStyleTD
{
    height: 27px;
    background-color: #dceffe;
    background-image: url(../images/Utility/TableHeaderBackground.gif);
    font-size: 11px;
    color: #0066cc;
    font-weight: bold;
    white-space: nowrap;
    font-size: 11px;
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}

.lrgInfoBtn
{
    display: block;
    height: 100px;
    width: 100px;
    border: 0;
    background-image: url(    '/Admin/Images/button/info_button_large.png' );
}
.lrgInfoBtn:focus
{
    background-image: url(    '/Admin/Images/button/info_button_large_active2.png' );
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border: 0;
}

.lrgOkBtn
{
    display: block;
    height: 100px;
    width: 100px;
    border: 0;
    background-image: url(    '/Admin/Images/button/OK_button_large.png' );
}
.lrgOkBtn:focus
{
    background-image: url(    '/Admin/Images/button/OK_button_large_active.png' );
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border: 0;
}

.lrgPlayBtn
{
    display: block;
    height: 100px;
    width: 100px;
    border: 0;
    background-image: url(    '/Admin/Images/button/Play_button_large.png' );
}
.lrgPlayBtn:focus
{
    background-image: url(    '/Admin/Images/button/Play_button_large_active.png' );
    border: 0;
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.lrgPauseBtn
{
    display: block;
    height: 100px;
    width: 100px;
    border: 0;
    background-image: url(    '/Admin/Images/button/Pause_button_large.png' );
}
.lrgPauseBtn:focus
{
    background-image: url(    '/Admin/Images/button/Pause_button_large_active.png' );
    outline: 0;
    border: 0;
    outline-style: none;
    outline-width: 0;
}

.DefaultTabHeader
{
    background-image: url(../images/Utility/TableHeaderDoubleBackground.gif);
    font-size: 12px;
    color: #0066cc;
    font-weight: bold;
    height: 50px;
}
/***********************************************************************
* UpdateProgress
/***********************************************************************/
.TransparentGrayBackground
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: Gray;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.TransparentGrayBackground2
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: Gray;
    filter: alpha(opacity=60);
    opacity: 0.6;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.Sample1PageUpdateProgress
{
    background-color: #CF4342;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

/* Style class for Sample2 */
.Sample2PageUpdateProgress
{
    background-color: #CF4342;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 88%;
}

/* Style classes for Sample3 */
.Sample3PageUpdateProgress
{
    background-color: #CF4342;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 88%;
}


/* Style classes for Sample4 */
.Sample4PageUpdateProgress
{
    background-color: #CF4342;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 88%;
}


/* Style classes for Sample5 */
.Sample5PageUpdateProgress
{
    background-color: #195BA4;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    font-size: 12px;
    bottom: 50%;
    left: 45%;
}


/* Style classes for Sample6 */
.Sample6PageUpdateProgress
{
    background-color: #CF4342;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 50%;
    left: 45%;
}


/* Style classes for Sample7 */
.Sample7PageUpdateProgress
{
    background-color: #CF4342;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.WorkTimePopup
{
    background-color: #F1F9FF;
    width: 500px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    font-size: 12px;
    bottom: 45%;
    left: 35%;
}

.WorkEndChecked
{
    display: block;
    border: 0;
    height: 40px;
    width: 40px;
    background-image: url(    '/Admin/Images/button/btn_Checked.png' );
}

.WorkEndUnchecked
{
    height: 40px;
    width: 40px;
    display: block;
    border: 0;
    background-image: url(    '/Admin/Images/button/btn_Unchecked.png' );
}
/*Vilkiko atvaizdavimo stilius*/
.TruckBase
{
    background: url(/Admin/Images/Progress/truck_custom_mini.png);
    height: 29px;
    width: 75px;
}
.ProgressBar
{
    background: url(/Admin/Images/Progress/Progress1pxmini.png) repeat-x;
    height: 15px;
    width: 0px;
    top: 1.5px;
    left: 21px;
    position: relative;
}
.ProgressBarRed
{
    background: url(/Admin/Images/Progress/Progress1pxminired.png) repeat-x;
}
.ProgressText
{
    height: 15px;
    width: 53px;
    top: -12px;
    left: 21px;
    text-align: center;
    position: relative;
}
.listViewSearch
{
    padding: 0 !important;
    width: 150px !important;
    margin-top: 5px;
}
.MaxValue
{
    display: none;
}
.CurrentValue
{
    display: none;
}
/*Vilkiko atvaizdavimo stilius*/

.ui-dialog, .ui-dialog-content
{
    font-size: 11px;
    color: #4A3C8C;
    background-color: #f1f9ff;
    z-index: 1002;
}
.ui-dialog-titlebar
{
    border: solid 1px #74BAF3;
    font-size: 13px;
    font-weight: bold;
    background-color: #dceffe;
}
.ui-widget-overlay
{
    background-color: #000000;
    opacity: 0.5;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 1001;
    bottom: 0;
    left: 0;
    position: fixed !important;
}

/*Multi Select */

.ms-parent
{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.ms-choice
{
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.ms-choice.disabled
{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span
{
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ms-choice > span.placeholder
{
    color: #999;
}

.ms-choice > div
{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    background: url('multiple-select.png') left top no-repeat;
}

.ms-choice > div.open
{
    background: url('multiple-select.png') right top no-repeat;
}

.ms-drop
{
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ms-drop.bottom
{
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top
{
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search
{
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}



.ms-search
{
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul
{
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

.ms-drop ul > li
{
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled
{
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple
{
    display: block;
    float: left;
}

.ms-drop ul > li.group
{
    clear: both;
}

.ms-drop ul > li.multiple label
{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.Listbox
{
    background: goldenrod;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    transition: all 2s linear;
    display: block;
}

.hidden
{
    display: none;
    opacity: 0;
}

.DashedRegionTop {
    border-top: dashed;
    border-top-color: inherit;
    border-top-width: 2px;
    border-right: dashed;
    border-right-color: inherit;
    border-right-width: 2px;
    border-left: dashed;
    border-left-color: inherit;
    border-left-width: 2px;
}

.DashedRegionMiddle {
    border-right: dashed;
    border-right-color: inherit;
    border-right-width: 2px;
    border-left: dashed;
    border-left-color: inherit;
    border-left-width: 2px;
}

.DashedRegionBottom {
    border-bottom: dashed;
    border-bottom-color: inherit;
    border-bottom-width: 2px;
    border-right: dashed;
    border-right-color: inherit;
    border-right-width: 2px;
    border-left: dashed;
    border-left-color: inherit;
    border-left-width: 2px;
}

/*
td {
	animation: x 0.1s linear infinite;
}
body {
	background-color: tomato;
	transform: rotate(0deg) scale(1);
}

body:hover {
	animation: y 0.2s linear infinite;
}

@keyframes x {
	0%{ backgrond-position-x: 0;}
	100%{ background-position-x: 10000px;}
}
@keyframes y {
	0%{ background-color: blue; transform: rotate(0deg) scale(1);}
	20%{ background-color: green;}
	60%{ background-color: yellow;}
	80%{ background-color: black;}
	100%{ background-color: white; transform: rotate(360deg) scale(5);}
}
*/

#notification_li
        {
            position: relative;
        }
        #notificationContainer
        {
            background-color: #fff;
            border: 1px solid rgba(100, 100, 100, .4);
            -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            overflow: visible;
            position: absolute;
            top: 30px;
            margin-left: -170px;
            width: 400px;
            z-index: 9999999;
            display: none;
        }
        #notificationContainer:before
        {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            background-color: transparent;
            border: 10px solid black;
            margin-top: -20px;
            margin-left: 188px;
        }
        #notificationTitle
        {
            height: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            background-color: #ffffff;
            position: absolute;
            z-index: 1000;
            width: 398px;
            border-bottom: 1px solid #dddddd;
        }
        #notificationsBody
        {
            text-align: left;
            padding: 30px 0px 0px 0px !important;
            min-height: 300px;
            max-height: 300px;
            overflow: hidden;
        }
        #notificationsBody.mousescroll
        {
            overflow: hidden;
        }
        #notificationsBody.mousescroll:hover
        {
            overflow-y: scroll;
        }
        #notificationFooter
        {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
            height: 30px;
        }
        #notification_count, #notification_tab1, #notification_tab2
        {
            padding: 3px 7px 3px 7px;
            background: #cc0000;
            color: #ffffff;
            font-weight: bold;
            margin-left: 67px;
            border-radius: 9px;
            -moz-border-radius: 9px;
            -webkit-border-radius: 9px;
            position: absolute;
            margin-top: -11px;
            font-size: 11px;
        }
        #notification_tab1, #notification_tab2
        {
            padding: 3px 7px 3px 7px;
            background: #cc0000;
            color: #ffffff;
            font-weight: bold;
            margin-left: 10px;
            border-radius: 9px;
            -moz-border-radius: 9px;
            -webkit-border-radius: 9px;
            position: absolute;
            margin-top: -11px;
            font-size: 11px;
        }
        #nav
        {
            margin: 0px;
            padding: 0px;
        }
        #nav div
        {
            font-size: 11px;
            font-weight: bold;
        }
        #nav div a
        {
            color: #003366;
            text-decoration: none;
        }
        #nav div a:hover
        {
            color: #006699;
            text-decoration: none;
        }
        #notificationTitle div
        {
            width: 100%;
            height: 100%;
            padding-top: 8px;
        }
        #notificationTitle div:hover
        {
            background-color: #F4F4F4;
            cursor: pointer;
        }
        .selectedTab
        {
            background-color: #F4F4F4;
        }
        #notificationsBody ul
        {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        #notificationsBody li
        {
            list-style: none;
            border-bottom: 1px solid #dddddd;
            word-wrap: break-word;
            padding: 15px 6px 15px 6px;
            font-weight: normal;
        }
        #notification_li #notificationLink
        {
            position: absolute;
            top: -6px;
            left: 23px;
        }
        #notification_li #refreshNotifications
        {
            position: absolute;
            top: -10px;
            left: 6px;
        }
        canvas.subdiv
        {
            width: 130px;
        }
        canvas.text
        {
            margin: auto;
            width: 130px;
        }
        .ui-dialog-titlebar
        {
            background-image: url(../images/Utility/TableHeaderSmallBackground.gif);
            font-size: 12px;
            color: #0066cc;
            font-weight: bold;
            height: 27px;
            text-align: center;
            padding-top: 5px;
        }
        .ui-dialog
        {
            background-color: #74BAF3;
            padding: 1px;
        }
        .ui-widget-overlay
        {
            background: black;
            opacity: .30;
            filter: Alpha(Opacity=30);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .ui-dialog-buttonset
        {
            background-color: #f1f9ff;
            height: inherit;
            text-align: center;
            padding-top: 6px;
        }
        .ui-dialog-titlebar-close
        {
            display: none;
        }
        .ListHeader
        {
            overflow: hidden;
            height: 30px;
            font-weight: bold;
        }
        #loading {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #3498db;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            box-sizing: border-box;
        }
        #loading:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #e74c3c;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
            box-sizing: border-box;
        }
        #loading:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #f9c922;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
            box-sizing: border-box;
        }    
        @-webkit-keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);  / Chrome, Opera 15+, Safari 3.1+ /
                -ms-transform: rotate(0deg);  / IE 9 /
                transform: rotate(0deg);  / Firefox 16+, IE 10+, Opera /
            }
            100% {
                -webkit-transform: rotate(360deg);  / Chrome, Opera 15+, Safari 3.1+ /
                -ms-transform: rotate(360deg);  / IE 9 /
                transform: rotate(360deg);  / Firefox 16+, IE 10+, Opera /
            }
        }
        @keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);  / Chrome, Opera 15+, Safari 3.1+ /
                -ms-transform: rotate(0deg);  / IE 9 /
                transform: rotate(0deg);  / Firefox 16+, IE 10+, Opera /
            }
            100% {
                -webkit-transform: rotate(360deg);  / Chrome, Opera 15+, Safari 3.1+ /
                -ms-transform: rotate(360deg);  / IE 9 /
                transform: rotate(360deg);  / Firefox 16+, IE 10+, Opera /
            }
        }
