
#custom-bootstrap-menu.navbar-default .navbar-brand
{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Times New Roman' , Times, serif;
    font-size: x-large;
    font-weight: bold;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;  
    border-width: 1px;
    border-radius: 1px;
    background: #333;
	background: rgba(51, 51, 51, 0.1);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a
{
    background-color: rgba(248, 248, 248, 0);
    color: #FFFFFF;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover, #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus
{
    color: rgb(153, 255, 204);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}
#banner {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/') no-repeat  center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 120px 0 90px 0;
    text-align: center;
    vertical-align: middle;
}

#banner h1
{
    color: #FFFFFF;
    font-family: "Open Sans" , "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    text-shadow: rgba(245, 245, 255, 0.35) 0 0px 0px, rgba(0, 0, 30, 0.08) 0px 2px 2px, rgba(0, 0, 30, 0.20) 0px 2px 1px, rgba(0, 0, 30, 0.40) 0px 2px 1px, rgba(0, 0, 0, 0.08) -5px 5px 2px;
    font-weight: lighter;
    font-size: 33px;
    word-spacing: 5px;
    line-height: 1.5em;
}
#banner h5
{
    margin: 50px 0px 0px 0px;
    color: #ffffff;
    text-shadow: rgba(245, 245, 255, 0.35) 0 0px 0px, rgba(0, 0, 30, 0.08) 0px 2px 2px, rgba(0, 0, 30, 0.20) 0px 2px 1px, rgba(0, 0, 30, 0.40) 0px 2px 1px, rgba(0, 0, 0, 0.08) -5px 5px 2px;
    font-weight: lighter;
    padding-top: 150px;
}


img
{
      background: #333;
	background: rgba(51, 51, 51, 0.1);
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.registrationform
{
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
    color: #FFF !important;
}

input, textarea{
    
    color: #FFF;
}
.control-label
{
    color: #FFFFFF;
}
.checkbox
{
    padding: 0px 1px 0px 0px;
    margin: 0px;
    color: #F7F7F7;
}
label
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
@media (min-width: 768px) {
    input[type=text] {
        padding: 0;
        height: 30px;
        position: relative;
        width:150px;
        left: 0;
        outline: none;
        border: 1px solid #cdcdcd;
        border-color: rgba(0,0,0,.15);
        background-color: white;
        font-size: 16px;
        color: yellow;
    }
}
    input[type=text] {
        padding: 0;
        height: 30px;
        position: relative;
        left: 0;
        width:100%;
        max-width:200px;
        outline: none;
        border: 1px solid #cdcdcd;
        border-color: rgba(0,0,0,.15);
        background-color: white;
        font-size: 16px;
        color: black;
    }

    div1 {
        background-color: lightblue;
    }

    .auto-style7 {
        width: 25%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .auto-style13 {
        width: 162px;
    }

    .auto-style14 {
        background: #333;
        background: rgba(51, 51, 51, 0.2);
        color: #FFFFFF;
    }

    .radio {
        color: #F7F7F7;
    }

    legend {
        text-align: left;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 26px;
    }

    .ddl {
        background: #333;
        background: rgba(51, 51, 51, 0.2);
        color: #FFFFFF;
    }

    textarea.form-control {
        border-style: none none dotted none;
        border-width: 1px;
        border-color: #FFFFFF !important;
        color: #fff;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
    }

    textarea,
    textarea.form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px;
        color: #fff;
    }

        input[type="text"]:focus,
        textarea:focus,
        textarea.form-control:focus {
            outline: 0;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
            color: #999999;
        }

        input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
            color: #999999;
        }

        input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
            color: #999999;
        }
