﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="conspectus.aspx.cs" Inherits="Philharmony.conspectus" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
      
    <form id="form1" runat="server">
         <asp:HiddenField runat="server" ID="ConspectStatus"/>
        <div id="htmldiv" runat="server">
         
        </div>
    </form>
</body>
</html>
